p{
    font-size: 40px;
    font-style: italic;
    color: rgb(53, 155, 155);
}
span{
    color: rgb(77, 77, 77);
}
.small{
    font-size: 22px;
    text-align: center;
}
table{
    background: linear-gradient(to bottom right, rgb(230, 236, 255),rgb(132, 132, 132),rgb(113, 113, 113));
}
button{
    height: 65px;
    width: 65px;
    opacity: 1;
}
body{
    margin-left:  0px;
    margin-right:  0px;
    background: linear-gradient(to bottom right,#43B0B0,#0000FF,#000000,rgb(201, 0, 0),rgb(175, 70, 70));
    transition: background 2.5s ease-in-out;
    background-size: 200% 200%;
    overflow: hidden;
    height: 800px;

}
body.Red{
    background-position: 100% 100%;
}
.Background{
    height: 729px;
    background-image: url(./img/Без\ названия\ \(1\).png);
    animation: bg-animation 3600s infinite linear;
    animation-timing-function: calc();
    margin-top: -50px;
    margin-bottom: 50;
}
div{
    text-align: center;
}
.Paragraph{
    margin-top: 50px;
}
.Base{
    padding-top: 125px;
}
.ContainerLeft{
    text-align: center;
    display:inline-block;
    padding-right: 250px ;
}
.Area{
    display:inline-block;
    margin: 0px auto;
}
.ContainerRight{
    text-align: center;
    display:inline-block;
    padding-left: 250px;
}
@keyframes bg-animation {
    0% {
        background-position: 0 0%;
    }  
    100% {
        background-position: 100000% 500000%;
    }
}
@keyframes body-animation {
    0% {
        background-position: 0 0%;
    }  
    100% {
        background-position: 100000% 500000%;
    }
}
